--
-- PostgreSQL database dump
--

-- Dumped from database version 16.0
-- Dumped by pg_dump version 16.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: drizzle; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA drizzle;


ALTER SCHEMA drizzle OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: __drizzle_migrations; Type: TABLE; Schema: drizzle; Owner: postgres
--

CREATE TABLE drizzle.__drizzle_migrations (
    id integer NOT NULL,
    hash text NOT NULL,
    created_at bigint
);


ALTER TABLE drizzle.__drizzle_migrations OWNER TO postgres;

--
-- Name: __drizzle_migrations_id_seq; Type: SEQUENCE; Schema: drizzle; Owner: postgres
--

CREATE SEQUENCE drizzle.__drizzle_migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE drizzle.__drizzle_migrations_id_seq OWNER TO postgres;

--
-- Name: __drizzle_migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: drizzle; Owner: postgres
--

ALTER SEQUENCE drizzle.__drizzle_migrations_id_seq OWNED BY drizzle.__drizzle_migrations.id;


--
-- Name: activity_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.activity_logs (
    id character varying(50) DEFAULT gen_random_uuid() NOT NULL,
    user_id character varying(50),
    action text NOT NULL,
    resource_type text,
    resource_id character varying(50),
    details jsonb DEFAULT '{}'::jsonb,
    ip_address inet,
    user_agent text,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.activity_logs OWNER TO postgres;

--
-- Name: alert_comments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.alert_comments (
    id character varying(50) DEFAULT gen_random_uuid() NOT NULL,
    alert_id character varying(50) NOT NULL,
    user_id character varying(50) NOT NULL,
    type character varying(50) NOT NULL,
    content text NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.alert_comments OWNER TO postgres;

--
-- Name: alert_validations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.alert_validations (
    id character varying(50) DEFAULT gen_random_uuid() NOT NULL,
    alert_id character varying(50) NOT NULL,
    user_id character varying(50) NOT NULL,
    is_valid boolean NOT NULL,
    validated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.alert_validations OWNER TO postgres;

--
-- Name: alerts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.alerts (
    id character varying(50) DEFAULT gen_random_uuid() NOT NULL,
    reason text NOT NULL,
    description text NOT NULL,
    location text NOT NULL,
    latitude double precision,
    longitude double precision,
    status text DEFAULT 'pending'::text NOT NULL,
    urgency text DEFAULT 'medium'::text NOT NULL,
    author_id character varying(50) NOT NULL,
    confirmed_count integer DEFAULT 0,
    rejected_count integer DEFAULT 0,
    media jsonb DEFAULT '[]'::jsonb,
    resolved_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    view integer
);


ALTER TABLE public.alerts OWNER TO postgres;

--
-- Name: liberer; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.liberer (
    id character varying(50) DEFAULT gen_random_uuid() NOT NULL,
    person_name text NOT NULL,
    person_description text NOT NULL,
    person_image_url character varying NOT NULL,
    arrest_video_url character varying,
    arrest_description text NOT NULL,
    location text NOT NULL,
    status text DEFAULT 'pending'::text NOT NULL,
    validation boolean DEFAULT false,
    arrest_date timestamp without time zone NOT NULL,
    arrested_by text NOT NULL,
    author_id character varying(50) NOT NULL,
    view integer DEFAULT 0,
    resolved_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.liberer OWNER TO postgres;

--
-- Name: liberer_comments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.liberer_comments (
    id character varying(50) DEFAULT gen_random_uuid() NOT NULL,
    liberer_id character varying(50) NOT NULL,
    user_id character varying(50) NOT NULL,
    type character varying(50) NOT NULL,
    content text NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.liberer_comments OWNER TO postgres;

--
-- Name: sessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sessions (
    sid character varying(255) NOT NULL,
    sess jsonb NOT NULL,
    expire timestamp without time zone NOT NULL
);


ALTER TABLE public.sessions OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id character varying NOT NULL,
    name character varying NOT NULL,
    first_name character varying,
    last_name character varying,
    email character varying,
    phone character varying,
    password character varying,
    neighborhood character varying,
    avatar character varying,
    profile_image_url character varying,
    has_cin boolean DEFAULT false,
    is_admin boolean DEFAULT false,
    alerts_count integer DEFAULT 0,
    validations_count integer DEFAULT 0,
    joined_at timestamp without time zone DEFAULT now(),
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    latitude double precision,
    longitude double precision,
    cin_uploaded_front boolean DEFAULT false,
    cin_uploaded_back boolean DEFAULT false,
    cin_upload_front_url text,
    cin_upload_back_url text,
    cin_verified boolean DEFAULT false,
    cin_verified_at timestamp without time zone,
    cin_verified_by uuid
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: __drizzle_migrations id; Type: DEFAULT; Schema: drizzle; Owner: postgres
--

ALTER TABLE ONLY drizzle.__drizzle_migrations ALTER COLUMN id SET DEFAULT nextval('drizzle.__drizzle_migrations_id_seq'::regclass);


--
-- Name: __drizzle_migrations __drizzle_migrations_pkey; Type: CONSTRAINT; Schema: drizzle; Owner: postgres
--

ALTER TABLE ONLY drizzle.__drizzle_migrations
    ADD CONSTRAINT __drizzle_migrations_pkey PRIMARY KEY (id);


--
-- Name: activity_logs activity_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activity_logs
    ADD CONSTRAINT activity_logs_pkey PRIMARY KEY (id);


--
-- Name: alert_comments alert_comments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alert_comments
    ADD CONSTRAINT alert_comments_pkey PRIMARY KEY (id);


--
-- Name: alert_validations alert_validations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alert_validations
    ADD CONSTRAINT alert_validations_pkey PRIMARY KEY (id);


--
-- Name: alerts alerts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT alerts_pkey PRIMARY KEY (id);


--
-- Name: liberer_comments liberer_comments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.liberer_comments
    ADD CONSTRAINT liberer_comments_pkey PRIMARY KEY (id);


--
-- Name: liberer liberer_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.liberer
    ADD CONSTRAINT liberer_pkey PRIMARY KEY (id);


--
-- Name: sessions sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_pkey PRIMARY KEY (sid);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: IDX_session_expire; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_session_expire" ON public.sessions USING btree (expire);


--
-- Name: activity_logs_action_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX activity_logs_action_idx ON public.activity_logs USING btree (action);


--
-- Name: activity_logs_created_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX activity_logs_created_at_idx ON public.activity_logs USING btree (created_at);


--
-- Name: activity_logs_user_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX activity_logs_user_id_idx ON public.activity_logs USING btree (user_id);


--
-- Name: alert_comments_alert_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX alert_comments_alert_id_idx ON public.alert_comments USING btree (alert_id);


--
-- Name: alert_comments_created_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX alert_comments_created_at_idx ON public.alert_comments USING btree (created_at);


--
-- Name: alert_comments_user_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX alert_comments_user_id_idx ON public.alert_comments USING btree (user_id);


--
-- Name: alert_validations_alert_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX alert_validations_alert_id_idx ON public.alert_validations USING btree (alert_id);


--
-- Name: alert_validations_is_valid_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX alert_validations_is_valid_idx ON public.alert_validations USING btree (is_valid);


--
-- Name: alert_validations_unique; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX alert_validations_unique ON public.alert_validations USING btree (alert_id, user_id);


--
-- Name: alert_validations_user_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX alert_validations_user_id_idx ON public.alert_validations USING btree (user_id);


--
-- Name: alerts_author_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX alerts_author_id_idx ON public.alerts USING btree (author_id);


--
-- Name: alerts_created_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX alerts_created_at_idx ON public.alerts USING btree (created_at);


--
-- Name: alerts_location_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX alerts_location_idx ON public.alerts USING btree (location);


--
-- Name: alerts_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX alerts_status_idx ON public.alerts USING btree (status);


--
-- Name: alerts_urgency_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX alerts_urgency_idx ON public.alerts USING btree (urgency);


--
-- Name: liberer_arrest_date_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX liberer_arrest_date_idx ON public.liberer USING btree (arrest_date);


--
-- Name: liberer_author_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX liberer_author_id_idx ON public.liberer USING btree (author_id);


--
-- Name: liberer_comments_created_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX liberer_comments_created_at_idx ON public.liberer_comments USING btree (created_at);


--
-- Name: liberer_comments_liberer_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX liberer_comments_liberer_id_idx ON public.liberer_comments USING btree (liberer_id);


--
-- Name: liberer_comments_user_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX liberer_comments_user_id_idx ON public.liberer_comments USING btree (user_id);


--
-- Name: liberer_created_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX liberer_created_at_idx ON public.liberer USING btree (created_at);


--
-- Name: liberer_location_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX liberer_location_idx ON public.liberer USING btree (location);


--
-- Name: liberer_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX liberer_status_idx ON public.liberer USING btree (status);


--
-- Name: sessions_sid_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX sessions_sid_idx ON public.sessions USING btree (sid);


--
-- Name: activity_logs activity_logs_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activity_logs
    ADD CONSTRAINT activity_logs_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: alert_comments alert_comments_alert_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alert_comments
    ADD CONSTRAINT alert_comments_alert_id_fkey FOREIGN KEY (alert_id) REFERENCES public.alerts(id) ON DELETE CASCADE;


--
-- Name: alert_comments alert_comments_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alert_comments
    ADD CONSTRAINT alert_comments_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: alert_validations alert_validations_alert_id_alerts_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alert_validations
    ADD CONSTRAINT alert_validations_alert_id_alerts_id_fk FOREIGN KEY (alert_id) REFERENCES public.alerts(id) ON DELETE CASCADE;


--
-- Name: alert_validations alert_validations_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alert_validations
    ADD CONSTRAINT alert_validations_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: alerts alerts_author_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT alerts_author_id_users_id_fk FOREIGN KEY (author_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: liberer liberer_author_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.liberer
    ADD CONSTRAINT liberer_author_id_fkey FOREIGN KEY (author_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: liberer_comments liberer_comments_liberer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.liberer_comments
    ADD CONSTRAINT liberer_comments_liberer_id_fkey FOREIGN KEY (liberer_id) REFERENCES public.liberer(id) ON DELETE CASCADE;


--
-- Name: liberer_comments liberer_comments_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.liberer_comments
    ADD CONSTRAINT liberer_comments_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

